*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article {
    width: 60%;
    margin: auto;
}
.cart_box img{
    width: 50px;
    height: 50px;
}
.cart_img{
    display: flex;
    width: 400px;
}

.cart_img p{
    font-weight: bold;
    margin-left: 10px;
}

.cart_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid orange;
    padding-bottom: 5px;
}

.total{
    display: flex;
    justify-content: space-between;
}
.total span:nth-child(1){
color: orange;
font-weight: bold;
letter-spacing: 2px;
font-size: 2rem;
}

.total span:nth-child(2){
    font-size: 2rem;
    color: red;
    font-weight: bold;
}

.add-remove button{
    margin: 3px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: rgb(231, 183, 95);
    border-radius: 5px;
    cursor: pointer;
}

.add-remove button:hover{
    background-color: orange;
}

.remove{
    margin: 7px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: tomato;
    border-radius: 5px;
    cursor: pointer;
}

.remove:hover{
    background-color: red;
}